header {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  border-bottom: 1px solid rgb(196, 196, 196);
  box-shadow: 0 4px 4px #96969666;
}

body {
  padding: 8px 0;
}

.container {
  margin: auto;
  max-width: 1280px;
}